#adminToolbar {
    background-color: Azure;
    height: 25px;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid black;
    font-family: Arial;
}

#adminToolbar a {
    padding: 10px;
}

#create table {
    width: 500px;
}

#create table tr {
    width: 100%;
}

#create h2 {
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
}

#create table th {
    text-align: right;
    width: 50%;
}

#create table td {
    width: 50%;
}

#create .success {
    font-size: 42px;
    width: 100%;
    text-align: center;
    padding: 30px;
    background-color: greenyellow;
}

#create error {
    font-size: 42px;
    width: 100%;
    text-align: center;
    padding: 30px;
    background-color: coral;
}

.center {
    text-align: center;
}