<div>
    <a href="#" onclick="createUserOrRole('subject')">Create Subject</a>
    <a href="#" onclick="createUserOrRole('principal')">Create Principal</a>
    <a href="#" onclick="createUserOrRole('subjectprincipal')">Create Subject->Principal</a>
</div>