<div id="create">
    <h2>Create a Subject:</h2>
    <table cellpadding="4" cellspacing="4">


        <tr>
            <td style="font-weight: bold;">
                Username :
            </td>
            <td>
                <input type="text" name="username" id="username" />
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold;">
                Password :
            </td>
            <td>
                <input type="password" name="password" id="password" />
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold;">
                Confirm Password :
            </td>
            <td>
                <input type="password" name="passwordconf" id="passwordconf" />
            </td>
        </tr>
        <tr>
            <th>
                Principal :
            </th>
            <td>
                <div id="principals"></div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center; ">
                <br /><br />
                <input type="button" value=" ENTER " onclick="createSubject()"/>
            </td>
        </tr>
    </table>
</div>
