<div id="create"><h2>Create a Principal</h2>
    <table cellpadding="4" cellspacing="4">


        <tr>
            <td style="font-weight: bold;">
                Principal :
            </td>
            <td>
                <input type="text" name="principal" id="principal" />
            </td>
        </tr>

        <tr>
            <td colspan="2" style="text-align: center; ">
                <br /><br />
                <input type="button" value=" ENTER " onclick="createPrincipal()"/>
            </td>
        </tr>
    </table>

</div>