<div id="create">
    <h2>Give Principal to a Subject:</h2>
    <table cellpadding="4" cellspacing="4">


        <tr>
            <th class="center">
                Username of Subject :
            </th>
            <td>
                <div id="usernames" ></div>
            </td>
        </tr>
        <tr>
            <th>
                Principal :
            </th>
            <td>
                <div id="principals"></div>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="center">
                <br /><br />
                <input type="button" value=" ENTER " onclick="createSubjectPrincipal()"/>
            </td>
        </tr>
    </table>
</div>

