<h1>Create an Account:</h1>
<table cellpadding="4" cellspacing="4">
    <tr>
        <td style="font-size: 18px; font-weight: bold;">
            Username :
        </td>
        <td>
            <input type="text" name="username" id="username" style="font-size: 24px;" />
        </td>
    </tr>
    <tr>
        <td style="font-size: 18px; font-weight: bold;">
            Password :
    </td>
    <td>
        <input type="password" name="password" id="password" style="font-size: 24px;" />
    </td>
    <tr>
        <td style="font-size: 18px; font-weight: bold;">
            Confirm Password :
    </td>
    <td>
        <input type="password" name="confpassword" id="confpassword" style="font-size: 24px;" />
    </td>
</tr>
<tr>
    <td colspan="2" style="text-align: center; ">
        <br /><br />
        <input type="button" value=" ENTER " onclick="createAccount()" style="font-size: 24px;"/>
        <input type="hidden" name="client" id="client" value="secure" />
        <input type="hidden" name="server" id="server" value="secure" />
    </td>
</tr>
<tr>
    <td colspan="2" style="text-align: center;" id="createLink">
        Already have an account? <a href="#" onclick="loadLogin();">Click here</a> to log in.
    </td>
</tr>
</table>
