body{
    padding: 35px;
    background-color: #0972a5;
}
table{
    width: 99%;
}
table td{
    width: 99%;
    vertical-align: top;
    text-align: center;
}
.sortable{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sortable span{
    padding: 20px;
    font-size: 25px;
}
.spacer{
    padding: 25px;
    width: 99%;
    text-align: center;
}
.page{
    border: 3px solid brown;
    background-color:wheat;
}
.pageActive{
    border: 3px solid brown;
    background-color:wheat;
    width: 165px;
    height: 155px;
}
.aright{
    width: 50%;
    vertical-align: middle;
    text-align: right;
}
.fromQuestion{
    border: 3px solid yellow;
    width: 165px;
    height: 155px;
    background-color:lightyellow;
}
.amiddle{
    width: 0%;
    vertical-align: middle;
    text-align: center;
}
.toQuestion{
    border: 3px solid blue;
    width: 165px;
    height: 155px;
    background-color:powderblue;
}
.aleft{
    width: 50%;
    vertical-align: middle;
    text-align: left;
}
.bcommit{
    border: 3px solid green;
    width: 165px;
    height: 155px;
    background-color:lightgreen;
    font-size: 15px;
    font-weight: bold;
}
.bnotcommit{
    border: 3px solid darkred;
    width: 165px;
    height: 155px;
    background-color:tomato;
}
.bsomecommit{
    border: 3px solid darkred;
    width: 165px;
    height: 155px;
    background-color:yellowgreen;
}
.connections{
    border: 3px solid darkorange;
    background-color: #ffde2e;
    vertical-align: top;
    width: 20%;
}
.connections li{
    font-size: 15px;
}
.paths{
    border: 3px solid steelblue;
    background-color: #F4F4F4;
    vertical-align: top;
    width: 50%;
}

.paths li{
    font-size: 15px;
}
.tabover{
    width: 10%;
}
.actions input{
    font-size: 18px;
    font-weight: bold;
}
.osurvey{
    background-color: azure;
    font-weight: bold;
    font-size: 26px;
    width: 99%;
}