<div class="bannerContainer">
	<div class="banner"></div>
</div>

<div id="login-dialog" title="Login">
	<div class="feedback" id="feedback"></div>
	<div><strong>Your session has expired.<br/>Please log back in to continue.</strong></div>
	<table class="pageCenter">
		<form id="form">
			<tr>
				<td><strong>Username</strong></td>
				<td><input id="username" name="username" type="text" /></td>
			</tr>
			<tr>
				<td><strong>Password</strong></td>
				<td><input id="password" name="password" type="password" /></td>
			</tr>
			<!-- <tr>
				<td colspan="2" align="center"><input type="submit"
					value="Login" id="login" /></td>
			</tr> -->
		</form>
	</table>
</div>