.note div:hover {
     background-color: yellow;
 }

 .note div.selected:hover,
 .selected {
    background-color: cyan;
 }
 
 body {
     background-image: url("../images/guitar_bg.jpg");
     background-repeat: repeat-x;
     
 }

.note {
    cursor: pointer;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 13px;
    text-align: center;
    width: 13px;
}

.banner {
    background-image: url("../images/guitar_banner_transparent_wide_edit.gif");
    width: 800px;
    height: 165px;
    margin-left: 20px;
    float: left;
}

.bannerContainer {
    width: 800px;
    margin: auto;
}

#title {
    font-size: 24px;
    font-weight: bold;
    
}

#artist {
    font-size: 13px;
    xfont-weight: bold;
}

.headerContainer {
    width: 800px;
    margin: auto;
}

.title {
    float: left;
    width: 400px;
}

.homeLink {
    float: right;
    width: 200px;
    text-align: right;
}

#songNotes {
    clear: both;
}

#guitarContainer {
    margin: 10px;
    width: 750px;
}

#tabMain {
    background-color: white;
    margin: auto;
    padding: 5px;
    width: 800px;
    clear: both;
}