.note div:hover {
     background-color: yellow;
 }

 .highlighted {
     background-color: yellow;
}

 .note div.selected:hover,
 .selected {
    background-color: cyan;
 }

 body {
     background-image: url("../images/guitar_bg.jpg");
     background-repeat: repeat-x;

 }

 #tab td {
    width: 13px;
    padding: 0;
}

#tab div.note, div.chord, div.noteLabel {
    width: 17px;
}

#tab table {
    width: 780px;
}

.tabColumn {
    width: 17px;
    float: left;
}


.guitarBody {
    height: 125px;
}

.chord, .note {
    cursor: pointer;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 17px;
    text-align: center;
}

.noteLabel {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 17px;
    text-align: center;
}

.banner {
    background-image: url("../images/guitar_banner.gif");
    width: 800px;
    height: 165px;
    margin-left: 20px;
    float: left;
}

.bannerContainer {
    width: 800px;
    margin: auto;
}

.title #title {
    font-size: 24px;
    font-weight: bold;

}

.title #artist {
    font-size: 13px;
    xfont-weight: bold;
}

.headerContainer {
    width: 800px;
    margin: auto;
}

.title {
    float: left;
    width: 400px;
}

.required {
    color: red;
    font-weight: bold;
}

.homeLink {
    float: right;
    width: 200px;
    text-align: right;
}

#songNotes {
    clear: both;
}

.songLink {
    padding: 5px;
}

#guitarContainer {
    margin: 10px;
    width: 750px;
}

.mainContent {
    margin: auto;
    padding: 5px;
    width: 845px;
    clear: both;
}

.mainContent h2{
    margin-top: 0;
    margin-bottom: 0;
}

.pageCenter {
    text-align: center;
    margin: auto;
}


#songs {
    clear: both;
}

#welcome {
    width: 100%;
    float: left;
}

.welcomeMsg {
    width: 500px;
    float: left;
}

.menu {
    width: 300px;
    float: right;
    text-align: right;
    padding-top: 10px;
}

legend {
    font-weight: bold;
}

#working {
    display: none;
}

#tabs {
    clear: both;
}

.tabmodals fieldset {
    padding:0;
    border:0;
    margin-top:25px;
}

.tabmodals {
    font-size: 62.5%;
}
.tabmodals fieldset label, input {
    display:block;
}

.tabmodals input.text {
    margin-bottom:12px;
    width:95%;
    padding: .4em;
}

.ui-dialog .ui-state-error {
    padding: .3em;
}

.validateTips {
    border: 1px solid transparent;
    padding: 0.3em;
}

.tabEntry {
    width: 110px;
    font-size: 11px;
}

.tabHeight {
    height: 40px;
}

#loadingbg {
    background: none repeat scroll 0 0 #E0CD92;
    height: 100%;
    position: fixed;
    width: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 9998;
}

#feedback {
    display: none;
    width: 225px;
    height: 20px;
    margin: auto;
    clear: both;
}