html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.map{
    background-image: url('../images/newmapv308.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #BDFAFB;
}

.loading{
    background-image: url('ogclient/loading.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #BDFAFB;
}
.lspace{
    width: 20%;
}
.header{
    font-size: 25px;
    font-weight: bold;
}
.rspace{
    width: 20%;
}
.content{
    text-align: center;
}
.reports{
    width: 100%;
    text-align: center;
    vertical-align: middle;
    margin-left: auto ;
    margin-right: auto ;
}
.charactergrowth{
    background-image: url('../images/opcharacter.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 75px;
    width: 168px;
    border: 3px solid black;
    text-align: center;
    vertical-align: middle;
    margin-left: auto ;
    margin-right: auto ;
    font-size: 15px;
    font-weight: bold;
}
.pcgrowth{
    background-image: url('../images/oppcs.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 75px;
    width: 168px;
    border: 3px solid black;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    font-weight: bold;
}
.gameSelect{
    background-image: url('../images/fourthAge.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 52px;
    width: 168px;
    border: 3px solid black;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    font-weight: bold;
}
.reportDrop{
    background-color: yellow;
    height: 75px;
    width: 168px;
    padding: 10px;
    text-align: center;
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    font-weight: bold;
}
.ahighlight{
    border: 5px solid yellow;
}
.maximize{
    width: 100%;
    text-align: center;
}
.maximize td{
    width: 100%;
    text-align: center;
}
input{
    font-size: 14px;
    padding: 5px;
}
.details{
    padding: 10px;
    font-size: 12px;
    font-style: italic;
}
.loading{
    width: 100%;
    height: 250px;
    text-align: center;
    background-image: url('../images/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #BDFAFB;
}