<p class="validateTips"><span class="required">*</span> denotes a required field.</p>

<fieldset>
    <label for="title">Title <span class="required">*</span></label>
    <input type="text" name="title" id="title" class="text ui-widget-content ui-corner-all" />
    <label for="artist">Artist <span class="required">*</span></label>
    <input type="text" name="artist" id="artist" value="" class="text ui-widget-content ui-corner-all" />
    <label for="notes">Notes</label>
    <textarea name="notes" id="notes" class="text ui-widget-content ui-corner-all"  cols="40" rows="6"></textarea>
</fieldset>