<div class="headerContainer">
    <div class="title">
        <div id="title"></div>
        <div id="artist"></div>
    </div>

</div>

<div id="feedback" class="ui-state-highlight ui-corner-all"></div>

<div id="songNotes"></div>

<fieldset id="guitarContainer">
    <legend id="newGuitarHeader"> Add Guitar</legend>
    <table>
        <tr>
            <td>
                <strong>Guitarist</strong>
            </td>
            <td>
                <input type="text" id="guitarist"/>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Guitar Type</strong>
            </td>
            <td>
                <select id="guitarTypes">
                    <option value="Electric">Electric
                    <option value="Acoustic">Acoustic
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Tuning</strong>
            </td>
            <td id="tuningContainer">
                <select id="lowEString"></select>
                <select id="aString"></select>
                <select id="dString"></select>
                <select id="gString"></select>
                <select id="bString"></select>
                <select id="highEString"></select>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Available Tunings</strong>
            </td>
            <td valign="top">
                <select id="tuningList"></select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" id="addGuitar" value="Add Guitar" onclick="addGuitar()"/>
            </td>
        </tr>
    </table>
</fieldset>

<div>
    <input type="button" id="saveTab" value="Save Tab" onclick="saveTab()"/>
</div>

<div id="tab"></div>

<script>
    tabCreatorInit();
</script>