<script>
    [[[POPULATEFORM]]]
</script>
<p class="validateTips"><span class="required">*</span> denotes a required field.</p>

<fieldset>
    <label for="firstname">First Name <span class="required">*</span></label>
    <input type="text" name="firstname" id="firstname" class="text ui-widget-content ui-corner-all" />
    <label for="lastname">Last Name <span class="required">*</span></label>
    <input type="text" name="lastname" id="lastname" value="" class="text ui-widget-content ui-corner-all" />
    <label for="email">Email</label>
    <input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" />
</fieldset>
<!--<h2>Edit Your Profile:</h2>
<table cellpadding="4" cellspacing="4">


    <tr>
        <td style="font-weight: bold;">
            First Name :
        </td>
        <td>
            <input type="text" name="firstname" id="firstname"/>
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold;">
            Last Name :
        </td>
        <td>
            <input type="text" name="lastname" id="lastname"/>
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold;">
            E-mail :
        </td>
        <td>
            <input type="text" name="email" id="email"/>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <hr/>
        </td>
    </tr>
     <tr>
        <td colspan="2" style="text-align: center; ">
            <br /><br />
            <input type="button" value=" ENTER " onclick="updateProfile()"/>
        </td>
    </tr>
</table>-->

